@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Inter:wght@300;400;500&display=swap");
:root {
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --green-tint: rgba(100, 255, 218, 0.1);
  --pink: #f57dff;
  --blue: #57cbff;
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  font-family: "Fira Code", monospace;
  background-color: var(--navy);
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}
.container {
  width: 1244px;
  margin: 0 auto;
}
.btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  background: none;
  border: none;
  outline: none;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 2em;
  cursor: pointer;
}

.main {
  width: 100%;
  height: 100vh;
  color: var(--lightest-slate);
  z-index: -2;
}

.text-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: var(--green);
  z-index: 98;
}

.text-wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: -50%;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: default;
}

.text {
  width: 300%;
  font-size: 5vw;
  text-transform: uppercase;
  opacity: 0.1;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 95;
  padding: 20px 0;
  width: 100%;
  background-color: rgba(10, 25, 47, 0.85);
  box-shadow: 0 10px 30px -10px var(--navy-shadow);
}
.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__list {
  display: flex;
}
.nav__item {
  padding: 0 24px;
  display: flex;
  align-items: center;
}
.nav__link {
  display: inline-block;
  line-height: 16px;
  font-size: 16px;
  letter-spacing: 0px;
  height: 16px;
  text-decoration: none;
  overflow: hidden;
  color: #fff;
}
.nav__logo {
  cursor: pointer;
}
.nav__link-number {
  color: #64ffda;
  margin-right: 8px;
}
.nav__link:hover .rolling-letter,
.nav__link.play .rolling-letter {
  transform: translateY(-100%);
}
.nav__link .block:last-child {
  color: #64ffda;
}
.nav__link .rolling-letter {
  display: inline-block;
  transition: transform 0.6s cubic-bezier(0.76, 0, 0.24, 1);
}

.rolling-letter:nth-child(1) {
  transition-delay: 0s;
}

.rolling-letter:nth-child(2) {
  transition-delay: 0.015s;
}

.rolling-letter:nth-child(3) {
  transition-delay: 0.03s;
}

.rolling-letter:nth-child(4) {
  transition-delay: 0.045s;
}

.rolling-letter:nth-child(5) {
  transition-delay: 0.06s;
}

.rolling-letter:nth-child(6) {
  transition-delay: 0.075s;
}

.rolling-letter:nth-child(7) {
  transition-delay: 0.09s;
}

.rolling-letter:nth-child(8) {
  transition-delay: 0.105s;
}

.rolling-letter:nth-child(9) {
  transition-delay: 0.12s;
}

.rolling-letter:nth-child(10) {
  transition-delay: 0.135s;
}

.rolling-letter:nth-child(11) {
  transition-delay: 0.15s;
}

.rolling-letter:nth-child(12) {
  transition-delay: 0.165s;
}

.rolling-letter:nth-child(13) {
  transition-delay: 0.18s;
}

.rolling-letter:nth-child(14) {
  transition-delay: 0.195s;
}

.rolling-letter:nth-child(15) {
  transition-delay: 0.21s;
}

.rolling-letter:nth-child(16) {
  transition-delay: 0.225s;
}

.rolling-letter:nth-child(17) {
  transition-delay: 0.24s;
}

.rolling-letter:nth-child(18) {
  transition-delay: 0.255s;
}

.rolling-letter:nth-child(19) {
  transition-delay: 0.27s;
}

.rolling-letter:nth-child(20) {
  transition-delay: 0.285s;
}

.rolling-letter:nth-child(21) {
  transition-delay: 0.3s;
}
section {
  min-height: 100vh;
  width: 100%;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero__desc {
  font-size: 28px;
  color: #64ffda;
}
.hero__title {
  color: var(--lightest-slate);
  font-size: 56px;
  margin: 8px 0;
}
.hero__subtitle {
  font-size: 50px;
  color: var(--slate);
}
.hero__desc-2 {
  width: 60%;
  font-size: 24px;
  letter-spacing: 1px;
  margin-top: 8px;
}
.hero__desc-2 span {
  display: inline-block;
  color: var(--green);
}
.work {
  background: green;
}
button {
  outline: none;
  border: none;
}

.about {
  padding: 120px;
}
.title {
  display: flex;
  align-items: center;
}
._title {
  font-size: 28px;
  margin: 0 24px 0 4px;
  color: var(--lightest-slate);
  font-weight: 500;
}
._num {
  font-size: 24px;
  color: var(--green);
}
._line {
  width: 200px;
  height: 0.5px;
  background-color: var(--light-slate);
}
.title span {
  display: inline-block;
}
.content {
  margin-top: 50px;
  display: flex;
}
.content__desc,
.content__img {
  flex-basis: 50%;
}
.content__desc p {
  margin-top: 10px;
}
.content__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}
.content__list li {
  flex-basis: 40%;
  margin: 10px 20px;
}
